
.navg{
    background-color: #D2001A;
}
.slogan{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width:100%;
}

.slogan-box{
    padding: 2em;
    width: 50%;
    background-color: #f39300;
    border-radius: 30px;
}
.slogan-box p,.slogan-box h2{
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.slogan-box button{
    border: none;
    height: 50px;
    width: 200px;
    background-color: #D2001A;
    color: white;
    font-size: 2rem;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.slogan-box button:hover{
    background-color:white;
    color:#D2001A;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.slogan-img{
    width: 30%;
}
.slogan-img img{
    width: 100%;
}
.slogan-box h1{
    font-family: 'Brush Script MT', cursive;
    font-size: 5.5rem;
    font-weight: 700;
    color: #D2001A;
    margin-bottom: 5px;
}
.space-top{
    margin-top: 30px;
}
.special{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.special-item{
    display: flex;
    width: 48%;
    background-color: #EFEFEF;
    border-radius: 15px;
    overflow: hidden;
}
.special-box{
    width: 50%;
}
.special-item:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.special-box p,.special-box h1{
    margin-left: 5px;
}
.special-box img{
    width: 100%;
    border-radius: 15px;
}

.display{
    width: 100%;
    display: flex;
}
.showcase{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.cart{
    width: 20%;
}
.category{
    width: 100%;
    background-color: #EFEFEF;
    border-radius: 15px;
    margin-top: 10px;
}
.category h1{
    font-size: 1.8rem;
}
.category h1,.category p{
    margin-left: 5px;
}
.itemcase{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 270px;
    margin-bottom: 10px;
    
}
.item h1{
    margin-bottom: 0px;
    font-size: 1.5rem;
}
.item p{
    margin-top: 0px;
}
.item img{
    width: 100%;
}
.item button{
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: black;
    color: white;
    font-weight: 700;
}
.side-bar{
    position: sticky;
    top: 90px;
}
.item:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.cartitem{
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    margin-left: 10px;
    background-color: #03703c;
}
.rating{
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
    background-color: hsl(213, 19%, 18%);
}
.rating h1{
    font-size: 1.5rem;
}
.rating p{
    font-size: 1rem;
}
.options{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.items{
    background-color: hsl(216, 12%, 54%);
    font-weight: 700;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    transition: all 0.2s linear;
    border: none;
}
.items:hover{
    background-color:hsl(25, 97%, 53%);
    color: white;
}
.sitem{
    background-color:hsl(25, 97%, 53%);
    color: white;
    font-weight: 700;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    transition: all 0.2s linear;
    border: none;
}
.submits{
    margin-top: 5px;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
    border-top-right-radius:15px ;
    border-bottom-right-radius:15px;
    height: 30px;
    border: none;
    background-color:hsl(25, 97%, 53%);
    color: white;
    font-weight: 700;
    font-size: 15px;
    transition: all 0.2s linear;
}
.selected{
    margin-top: 5px;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
    border-top-right-radius:15px ;
    border-bottom-right-radius:15px;
    height: 30px;
    border: none;
    color: hsl(25, 97%, 53%);
    background-color:white;
    font-weight: 700;
    font-size: 15px;
    transition: all 0.2s linear;
}
.submits:hover{
    color: hsl(25, 97%, 53%);
    background-color:white;

}
.brands{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.logo-case{
   
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.logo{
    max-width: 100px;
}
.logo img{
    width: 100%;
}

.sub-case{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sub-item{
    width: 350px;
    display: flex;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}
.sub-item:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.sub-box h1{
    font-size: 1.5rem;
    font-weight: 700;
}
.sub-item-name{
    width: 50%;
}
.sub-item-price{
    width: 40%;
}

#phonelogo{
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
}

.contact{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #EFEFEF;
    width: 100%;
}

.contact-case{
    display: flex;
    justify-content: space-evenly;
}
.contact-case a{
    width: 350px;
    height: 200px;
    overflow: hidden;
}
.contact-case img{
    position: relative;
    width: 100%;
    transition: all 0.1s linear;
}
.contact img:hover{
    width: 200%;
    top: -170px;
    left: -170px;
}
footer{
    margin-bottom: 0px;
}

@media (max-width:700px) {
    .slogan{
        flex-direction: column;
    }
    .slogan-box{
        width: 100%;
        text-align: center;
    }
    .display,.sub-case{
        flex-direction: column;
    }
    .showcase,.cart,.sub-box{
        width: 100%;
    }
    .sub-box h1{
        text-align: center;
    }
    .sub-item{
        margin: 0 auto;
    }
    .special{
        flex-direction: column;
    }
    .special-item{
        width: 100%;
        margin-top: 5px;
    }
    
}
.shadow:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}